.navigation {
  display: flex;
  justify-content: center;

  position: relative;

  width: 1220px;
  margin: 0 auto 20px;

  &__list {
    list-style-type: none;
    padding: 0;
    width: 980px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }

  .navigation__link {
    display: block;

    font-size: 0.9em;
    font-weight: 300;

    color: $primarycolor;
    line-height: 40px;
    text-align: center;
    text-decoration: none;

    margin: 0 10px;
    padding: 5px 15px;
    border: 1px solid #ffffff;
    box-sizing: border-box;

    &:hover {
      border: 1px solid $primarycolor;
      border-radius: 7px;
      cursor: pointer;
    }

    &--active {
      border: 1px solid $primarycolor;
      border-radius: 7px;
    }
  }
  //todo мобильная верстка
}
