//Разрешения для адаптивной верстки
$mobile: 320px;
$mobileL: 480px;
$pad: 768px;
$desktop: 1280px;

//Основные цвета
$primarycolor: #0111ea;
$subcolor: #4d9aff;


$font: Roboto, sans-serif;
$font-title: Roboto Slab, serif;
