.wrapper {
  width: 1220px;
  margin: 0 auto 30px;
}

@include adaptive(pad) {
  .wrapper {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

@include adaptive(mobile) {
  .wrapper {
    width: 100%;

    padding: 0 15px;
    margin: 0 0 30px;
    box-sizing: border-box;
  }
}
