.wrapper {
  width: 1220px;
  margin: 15px auto 30px auto;

  display: flex;
  justify-content: flex-start;
}

@include adaptive(pad) {
  .wrapper {
    width: 100%;
  }
}

@include adaptive(mobile) {
  .wrapper {
    width: 100%;

    padding: 0 15px;
    margin: 15px auto 15px auto;
    box-sizing: border-box;
  }
}
