.span {
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;
}

@include adaptive(pad) {
  .span {
    font-size: 0.9em;
  }
}

@include adaptive(mobile) {
  .span {
    font-size: 0.8em;
    line-height: 20px;
  }
}
