.list {
  list-style-type: none;

  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;
  color: $textgray;

  &--decimal {
    list-style-type: decimal;
  }
}

@include adaptive(mobile) {
  .list {
    font-size: 0.9em;
  }
}
