.link {
  font-family: inherit;
  font-size: 1.1em;
  font-weight: 500;
  line-height: inherit;
  color: $textgray;
  text-decoration: none;
  border-bottom: 1px solid $primarycolor;
  cursor: pointer;

  &--color-hover {

    &:hover {
      color: $primarycolor;
      transition: 0.5s ease-in-out;
    }
  }
}

@include adaptive(mobile) {
  .link {
    font-size: 0.9em;
  }
}
