.link {
  font-family: inherit;
  font-size: 1.1em;
  font-weight: 500;
  line-height: inherit;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;

  &--color-hover {

    &:hover {
      color: $subcolor;
      transition: 0.5s ease-in-out;
    }
  }
}
