.letter {
  padding: 10px;
  margin: 0 0 15px 0;
  border: 1px solid $mediumgray;
  border-radius: 5px;
  box-sizing: border-box;

  &__img {
    display: block;
    float: left;
    clear: both;

    font-size: 1em;
    font-weight: 400;
    color: $titlegray;
    text-decoration: none;

    &:hover {
      color: $primarycolor;
    }
  }

  &__icon {
    font-size: 1.3em;
    margin-right: 10px;
  }

  &__list {
    padding: 10px;
    margin-bottom: 15px;
  }
}

@include adaptive(mobile) {
  .letter {
    &__img {
      font-size: 0.8em;
    }

    &__icon {
      font-size: 1em;
    }
  }
}
