.letter {
  padding: 10px;
  margin: 0 0 15px 0;
  border: 1px solid $mediumgray;
  border-radius: 5px;
  box-sizing: border-box;

  &__img {
    display: inline-block;

    font-size: 1em;
    font-weight: 400;
    color: #666;
    text-decoration: none;

    &:hover {
      color: $primarycolor;
    }
  }
}
