.index {
  &__title {
    font-size: 1.4em;
    line-height: 24px;
    margin-bottom: 10px;
  }

  &__work-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
  }

  &__work {
    width: 49%;
    padding: 15px 0;
    text-align: center;
  }

  &__img {
    width: 350px;
    margin-bottom: 15px;
  }

  &__name {
    font: {
      family: $font;
      size: 1.2em;
      weight: 400;
    }
    color: $textgray;
    line-height: 24px;
  }

}

@include adaptive(pad) {
  .index {
    &__title {
      font-size: 1.2em;
    }

    &__img {
      width: 300px;
    }

    &__name {
      font-size: 0.9em;
    }
  }
}

@include adaptive(mobile) {
  .index {
    &__title {
      font-size: 0.9em;
    }

    &__work {
      width: 100%;
    }

    &__img {
      width: 100%;
    }

    &__name {
      font-size: 0.8em;
    }
  }
}
