.contacts {
  &__link {
    display: block;
    float: left;
    clear: both;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
    line-height: 2;

    cursor: pointer;
  }

  &__inner {
    margin-bottom: 15px;
  }
}

@include adaptive(mobile) {
  .contacts {
    &__link {
      font-size: 0.8em;
      line-height: 1.5;
    }
  }
}
