.footer {
  background: #4c9bff;
  height: 40px;
  width: 100%;
  position: relative;
  color: #000;
  &__ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    list-style-type: none;
    >li {
      font: {
        family: $font;
        size: 18px;
        weight: 400;
      }
      color: #000;
      >a {
        text-decoration: none;
        color: #000000;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}