.button__buy {
  display: block;

  border: 1px solid $subcolor;
  background-color: $subcolor;

  color: #ffffff;
  font-size: 1em;

  &:hover {
    background-color: #0B610B;
    transition: 0.5s ease-in-out;
  }
}