.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: {
    family: $font;
    size: 1em;
    weight: 400;
  }
  width: 100%;
  height: 100px;
  &__info {

  }
  &__list {
    font: {
      family: $font;
      size: 1.1em;
      weight: 400;
    }
    list-style-type: none;
    >li {
      display: inline-block;
      padding: 5px 10px;
      border-left: 1px solid $primarycolor;
      &:last-child {
        border-right: 1px solid $primarycolor;
      }
    }
  }
  &__link {
    font: {
      family: $font;
      size: 1.1em;
      weight: 400;
    }
    color: #000000;
    text-decoration: none;
    &:hover {
      color: $primarycolor;
      transition: 0.5s ease-in-out;
    }
  }
}