.title-h6 {
  font-size: 0.9em;
  line-height: 20px;
  color: $textgray;
}

@include adaptive(pad) {
  .title-h6 {
    line-height: 18px;
  }
}

@include adaptive(mobile) {
  .title-h6 {
    line-height: 18px;
  }
}
