.header {
  width: 100%;

  &__wrap {
    display: flex;
    justify-content: space-between;

    width: 1220px;
    margin: 0 auto;
  }

  &__logo {
    width: 400px;
    align-self: center;
  }

  &__img {
    width: 400px;
  }
}

@include adaptive(pad) {
  .header__wrap {

    width: 100%;
    margin: 0 15px;
  }
}

@include adaptive(mobile) {
  .header {
    &__wrap {
      flex-direction: column;
      width: 100%;

      margin: 0 10px;
    }

    &__img {
      width: 100%;
    }

    &__logo {
      width: 100%;
    }
  }
}
