.navigation__link {
  display: block;
  width: 150px;

  font-size: 0.9em;
  font-weight: 300;

  color: #ffffff;
  line-height: 40px;
  text-align: center;
  text-decoration: none;

  border-right: 1px solid #A4A4A4;
  box-sizing: border-box;

  &:hover {
    background-color: $subcolor;
  }
}