.license {
  padding: 10px;
  margin: 0 0 15px 0;
  border: 1px solid $mediumgray;
  border-radius: 5px;
  box-sizing: border-box;

  &__img {
    width: 150px;
    height: auto;
  }

  &__link-inner {
    text-align: right;
  }

  &__icon {
    font-size: 1.3em;
    margin-right: 10px;
    color: $redcolor;
  }
}

@include adaptive(mobile) {
  .license {
    &__link-inner {
      text-align: center;
    }

    &__icon {
      font-size: 1em;
    }
  }
}
