/* Подвал сайта */
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
	background: #4c9bff;
	height: 40px;
	width: 100%;
	position: relative;
	color: #000;
	}
footer ul {
	padding: 0;
	margin: auto;
	width: auto;
	height: 40px;
}
footer li {
	color: #000;
	font-size: large;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	display: inline-block;
	width: 250px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
footer a {
	color: #000;
	font-size: large;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	display: inline-block;
	text-align: center;
	text-decoration: underline;
	line-height: 40px;
}