header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info {
	height: 40px;
	width: 100%;
	font-size: large;
	position: relative;
}

.info ul {
	padding: 0;
	margin: 0 auto;
	height: 40px;
	width: 100%;
}

.info li {
	display: inline-block;
	float: right;
	height: 40px;
	width: 200px;
	text-align: center;
	text-decoration: none;
	border-left: 1px solid #000feb;
}

.info li:first-child {
	border-right: 1px solid #000feb;
}

.info a {
  text-decoration: none;
  padding: 1px;
  color: #000;
}