/* Стили для макета сайта */
.container {
  display: grid;
  grid-template-rows: 10% auto 10%;
  grid-template-columns: auto;
  grid-row-gap: 0px;
  height: 100%;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  height: auto;
}

.footer {
  grid-area: footer;
}

@media screen and (min-width: 1680px) {
	body {
	padding: 0;
	margin: 10px auto 0 auto;
	width: 60%;
}
}

@media screen and (min-width:769px) and (max-width:1679px) {
	body {
	padding: 0;
	margin: 10px auto 0 auto;
	width: 98%;
}
}