/* Стили для макета сайта */
body {
	padding: 0;
	margin: 10px auto 0 auto;
	width: 60%;
}

.container {
  display: grid;
  grid-template-rows: 10% auto 10%;
  grid-template-columns: auto;
  grid-row-gap: 0px;
  height: 100%;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  height: auto;
}

.footer {
  grid-area: footer;
}