html {
	height: 100%;
}

.img_div {
	text-align: center;
}

.img_main {
	max-width: 100%;
	height: auto;
	padding: 10px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-align: center;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height:1;
}
li {
	font-family: 'Roboto', sans-serif;
	font-size: large;
	font-weight: 600;
	line-height:1;
}
a {
	font-family: 'Roboto', sans-serif;
	font-size: large;
	font-weight: 600;
	color: #000000;
}

.block {
	width: 100%;
	display: block;
	box-sizing: border-box;
	border: 2px solid #000feb;
	padding: 10px;
	margin: 10px 0;
}
.contacts {
	line-height: 2;
}
button {
	height: 50px;
	width: 300px;
	margin: 0 10px 10px 10px;
	text-align: center;
}
.button {
	text-align: center;
}